.active {
  border: none;
  border-bottom: 2px solid red;
  width: 50px;
  color: red;
}
.inActive {
  border: none;
  width: 50px;
  background-color: white;
  color: #666;
}

.pagination {
  display: flex;
  border-top: 0.5px solid #666;
  height: 53px;
  width: 500px;
  border-bottom: 0.5px solid #666;
}
